body 
{ 
	background-color: #FFFFFF;
    color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}
header 
{ 
	background-color: #000033;
    color: #FFFFFF; 
	background-image: url(../images/sunset.jpg);
	background-position: right;
	background-repeat: no-repeat; 
	line-height: 400%;
	text-indent: 1em;
}

nav
{ 
	background-color: #90C7E3;
    font-weight: bold;
}

nav ul li {
	display: inline;
}

nav a 
{ 
	text-decoration: none; 
}

h1 
{ 
	margin-bottom: 0; 
    font-family: Georgia, 'Times New Roman', serif; 
}
	
h2 
{ 
	color: #3399CC; 
    font-family: Georgia, 'Times New Roman', serif; 
}
	 
h3 
{ 
	color: #000033;
	font-size: 30px;
    font-family: Georgia, 'Times New Roman', serif; 
}

main ul li 
{ 
	list-style-image: url("../images/marker.gif"); 
	margin: 0;
	padding: 0;
} 

footer 
{ 
	background: linear-gradient(0deg,#90C7E3 0%, #ffffff 100%);
	font-size: 75%;
    font-style: italic;
	text-align: center;
	font-family: Georgia, 'Times New Roman', serif;
	width: 100%;
}
	   
dt 
{ 
	color: #000033; 
}

#resort 
{ 
	color: #5C7FA3; 
    font-weight: bold;
}

#contact
{ 
	font-size: 90%; 
}

.spanclass {
	color: #5C7FA3;
	font-weight: bold;
}

/*************************** Mobile ***************************/
@media screen and (max-width:641px) {
nav ul li {
	list-style-type: disc;
	display: block;
}
nav {
	display: block;
}
h2 {
	display: none;
}
img {
	display: none;
}
footer 
{ 
	background: linear-gradient(0deg,#90C7E3 0%, #ffffff 100%);
	font-size: 75%;
    font-style: italic;
	text-align: center;
	font-family: Georgia, 'Times New Roman', serif;
	width: 100%;
}
}


/*************************** Tablet ***************************/	
@media screen and (min-width:641px) {
	body {
		background-size: auto;
		background-size: cover;
		background-repeat: no-repeat;
	}
	nav ul li {
		display: inline;
		list-style-type: none;
	}
	footer {
		display: inline;
		position: absolute;
		bottom: 0;
	}
}