/*----------------------------------------------------------------------------------------------------------------
--
#Original Author:   Chantha Kammer #
#Date Created:      2/26/2022      #
#Version:           1.0           #
#Date Last Modified:2/26/2022       #
#Modified by:       Chantha Kammer #
#Modification log:                 
    - Version 1: Same css styling for table, just added mod log

------------------------------------------------------------------------------------------------------------------*/

td, th{
    border: 1px solid black;
    text-align: center;
}
th a {
    text-decoration:none;
}
caption {
    color:rgb(93, 8, 114);;
    font-size: 30px;
    padding-top: -2em;
    padding-bottom: 0.5em;
}
tfoot {
    text-align: center;
    background-color: white;
}
table:hover {
    background-color:tan;
}
tfoot {
    background-color:gray;
}
.table {
    width:100%;
    background-color:white;
}
.border-gradient {
    border-width: 5px;
    border-image-source: linear-gradient(to left, red, white, blue);
    border-image-slice: 1;
}