@import url('https:fonts.googleapis.com/css?family=Poppins:200:300:400:500:600:700:800:900&display=swap');
* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

header {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

body{
    background-color: #19191c;
}


header h1 {
    color: white;
    padding-left: 2em;
}

ul {
    list-style-type: none;
    padding-right: 3.5em;
    padding-top: 1.4em;
}

li a{
    padding-left: 1em;
    text-decoration: none;
    color: white;
}

li a:hover{
    filter: drop-shadow(0 0 0.4rem white);
}

p {
    color: white;
}

#description {
    padding-top: 10em;
    padding-left: 4em;
}

#description h1{
    color: white;
}

#description p{
    padding-bottom: 1em;
}

#description a {
    font-size: 1em;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 4px solid white;
    border-radius: 40px;
}

#description a:hover{
    filter: drop-shadow(0 0 0.5rem rgb(9, 216, 106));
}

footer {
    text-align: center;
    margin-left: 1em;
    padding-top: 10em;
}

footer img{
   filter: invert(1);
   margin-left: 1em;
}